asgiref==3.7.2
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==4.2.4
django-cache-url==3.4.4
environs==9.5.0
git-filter-repo==2.38.0
gunicorn==21.2.0
marshmallow==3.20.1
packaging==23.1
psycopg2==2.9.7
python-dotenv==1.0.0
sqlparse==0.4.4
typing_extensions==4.7.1
whitenoise==6.5.0
