{% include 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    {% if messages %}

    <ul class="messages" style="list-style-type: none;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><mark>{{ message }}</mark></li>
            {% endfor %}

    </ul>

    {% endif %}

    <h2>Rezerwacje dla {{ email_query }}</h2>
    {% for booking in bookings %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Data</th>
                <th scope="col">Godzina</th>
                <th scope="col">Odwołaj</th>
        </thead>
        <tr>
            <td> {{ booking.yoga_class.name}}</td>
            <td> {{ booking.yoga_class.date|date:"d-m-Y"}}</td>
            <td> {{ booking.yoga_class.date|time:"H:i"}}</td>
            <td> <a href="{% url 'cancel_booking' booking.id %}" class="link-dark">odwołaj</a></td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</div>
{% endblock content %}